* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none !important;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    /*Display properties*/
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    padding: 0px;

    /*Background properties*/
    background-color: #32383d;
    background-attachment: fixed;

    /*Font properties*/
    text-transform: uppercase;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 20px;
    color: #fff;
}

#char {
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    background-color: #fff;
}